<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{url_for('static', filename='css/graph.css')}}" />
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/index_main.js')}}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/alpha.css')}}" />

</head>
<body>

<div id='main'>
    <div id='management'>
        <embed x='0' y='0' src='{{url_for('static', filename='svg/management.svg')}}' />
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>A</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>B</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/comlib.svg')}}" /></div>
            <div class='Summary'>Comlib</div>
        </div>
        <div id='dmgr' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/digitalMgr.svg')}}" /></div>
            <div class='Summary'>Digital Management</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>E</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>F</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>G</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>H</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>I</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>J</div>
        </div>
        <div id='kmgr' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/knowledgeMgr.svg')}}" /></div>
            <div class='Summary'>Knowledge Management</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>L</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>M</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>N</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>O</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>P</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>Q</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>R</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>S</div>
        </div>
        <div id='tmgr' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/taskMgr.svg')}}" /></div>
            <div class='Summary'>Task Management</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>U</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>V</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>W</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>X</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>Y</div>
        </div>
        <div id='XXX' class='tools'>
            <div class='ICON'><embed x='0' y='0' src="{{url_for('static', filename='svg/gray.svg')}}" /></div>
            <div class='Summary'>Z</div>
        </div>
        
        
    </div>
    <div id='graph'>
        <svg width='2000' height='2000' 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
               
        {% for k in knowledges %}
            <use x='{{k.x}}' y='{{k.y}}' xlink:href="{{'static/' ~ k.svg}}" ><title>{{k.title}}</title></use>
        {% endfor %}
        
        </svg>
    </div>
</div>



</body>
</html>